
.welcoMessageCss{
    position: absolute;
    font-weight: bolder;
    font-size: 5vw;
    top: 50%;
    left: 25%;
    color: white;
    width: 50%;
    text-align: center;

}
.container-fluid{
    padding: 0px;
    height: 88vh;
}


  

.container-fluid .home-bg-img {
    width: 100%;
    height: 100%;
}


.home-about{
   
    text-align: justify;
}
@media (min-width: 768px) {
    .home-about{
        margin: 5rem;
    }
}

@media (max-width: 768px) {
    .home-about{
        margin: 2rem;
    }
}
.home-school-image{
    height:15rem;
    width:auto;
    
}
 .home-school-Recatngle{
    
    background-color:black ;
    height:20rem;
 }

.school_text{
    color:white;
    text-align: center;
    padding: 1rem;
    font-size: 2vw;
}1
.school-text{
    font-size: 2vw;
    text-align: center;
}
.school-button{
    font-size:1vw;
    
    
}
.school-discription{
    margin-top: -25vh;
    
    overflow: hidden;
    white-space: nowrap;
    
    
}
.schools{
    text-align: center;
    left: 100%;
    display: inline-block;
    animation: marquee 10s linear infinite;

}
.schools :hover {
    animation-play-state: paused;
}
@keyframes marquee {
    0%   { left: 100%; }
    100% { left: -100%; }
  }