.head{
    background-color: #6A172F;
    height:30vh;
    text-align: center;
    color:white;
    padding:  5rem;
}
.set1
{
    padding-bottom: 100px;
    background-color: white;
    color: black;
}
.description
{
    color: black;
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
}