.head{
    background-color: #6A172F;
    height:30vh;
    text-align: center;
    color:white;
    padding:  5rem;
}

.collaps{
    background-color: gray;
    height: 3rem;
    color:white;
   padding :1rem;
    text-align: center;
    margin: 1rem;
}